.ui-widget, .ui-widget .ui-widget {
    font-size: 96%;
 }
 
 .mainPanel .ui-panel-titlebar:first-child .ui-panel-title {
 	float: left;
 }
 
.mainPanel .ui-panel-titlebar:first-child .ui-menubutton {
 	display: inline-block;
 	float: right;
 }
 
 .hide-column-names table thead tr {
    display: none;
}

.no-border-grid tr, .no-border-grid td {
	border: 0;
}

#showcasedPackages .ui-carousel {
	margin:0 auto;
	display: block;
}